[submodule "sift_anatomy_20141201"]
	path = sift_anatomy_20141201
	url = https://github.com/sbond75/sift_anatomy_20141201.git
[submodule "src/optick"]
	path = src/optick
	url = https://github.com/bombomby/optick.git
[submodule "SiftGPU"]
	path = SiftGPU
	url = https://github.com/sbond75/SiftGPU.git
[submodule "src/python/IMU_VV"]
	path = src/python/IMU_VV
	url = https://github.com/VADL-2022/IMU_VV.git
[submodule "WindTunnel"]
	path = WindTunnel
	url = https://github.com/VADL-2022/WindTunnel.git
